/* .carousel-1 {
  position: relative;
  top: -7.0px;
}
.carousel-2 {
  position: relative;
  top:-3px
  
} */
.carousel {
  position: relative;
  top: -10px;
}

.slick-prev {
  left: 25px !important;
  z-index: 2 !important;
}
.slick-next {
  right: 40px !important;
  z-index: 2 !important;
}
.slick-arrow::before {
  content: none !important;
}

img {
  width: 100%;
  height: 100%;
}
.slick-arrow {
  top: 40% !important;
  color: gray !important;
  position: absolute;
  z-index: 2;
}

.slick-dots {
  bottom: 25px !important;
}

.slick-dots button::before {
  font-size: 13px !important;
  color: rgb(255, 255, 255) !important;
  opacity: 0.8 !important ;
}

.slick-arrow img {
  width: 45px;
  height: 45px;
}
.slick-arrow img:hover {
  opacity: 70%;
}

.slick-dots li.slick-active button::before {
  color: rgb(255, 5, 5) !important;
 
}
:focus {
  outline: none;
}