button:focus {
  outline: none;
}

#demoCss {
  color: rgba(255, 255, 255, 0.445);
  text-transform: lowercase;
  background-size: cover;
  background-repeat: none;
  background-position: center;
  border-bottom: 1px solid white !important;
  color: rgb(201, 147, 32);
  box-shadow: 2px 2px rgb(0, 0, 0);
  font-weight: 900;
  background-repeat: no-repeat;
  text-decoration: none;
 color: rgba(0, 47, 255, 0.144);
 text-transform: capitalize;
}

#root{
  --heightCarousel : 550px
}

/* ::-webkit-scrollbar-thumb {
  background-color: rgb(24, 77, 250);
}
::-webkit-scrollbar {
  width: 15px;
  background-color: #f5f5f55e;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  background-color: #f5f5f5;
} */




